<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include(".common/head", 
    {alias: alias}) %>
  </head>
  <body class="">
    <%- include(".common/header", {
    title: data.title,
    subtitle: data.subtitle
    }) %>
    <main>
      
    </main>
  </body>
</html>
